{
	font-family:popins; sans-serif;
	box-sizing:border-box;
}
.wrapper
{
	width:100;
	margin:0;
	background-color:#c00;
	position:relative;

}
.flex-container
{
	display:flex;
}
.logo
{
	flex:1;
	width:25%
	color:#fff;
	margin:10px;

}
.contact 
{
	flex:3;
	width:75%;
	margin:10px 0;
}
.contact nav
{
	display: flex;
	justify-content:flex-end;
}
.contact nav ul li
{
	display: inline;

}
.contact nav ul li a
{
	text-decoration:none;
	color:#fff;
	padding:20px;

}
.extra div
{
	background-color:#ececec;
	border:medium none;
	padding:50px;
	border-radius:5px;
	transition:0.5s;
	text-align:center;

}
.extradiv:hover
{
	 box-shadow:0 0 20px rgba( 0, 0 , 0 , 0.5);
	 transform:translate(-20px);
}
.extradiv i
{
	color:#c00;

}
/* service section starts here*/
.service
{
	width:100%;
	height:auto;
	padding:80px 0;


}
.service p
{
	text-align:center;

}
.service h2
{
	color:#c00;
}
/*testimonial section starts here*/

.testimonial
{
	width:100%;
	height:auto;
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../images/ggg.jpg");
	background-size:cover;
	background-attachment: fixed;
	background-position:center;
	color:#fff;
	margin:0 auto;
}
.testimonial
{
	color:#c00;
	padding:30px;
	text-align:center;
}
.img-circle
{
border-radius:50%;
width:100px;
height:100px

}
/*testimonial section ends here*/
/*blog section starts here*/
.blog
.service
{
	width:100%;
	height:auto;
	padding:80px 0;


}
.blog h2
{
	color:c00;
	padding-top:50px;
	text-align:center;
}


/*blog section ends here*/
/*contact section info section starts here*/
.contact us
{
	width:100%;
	height:auto;
	padding:80px 0;


}
.contact-us h2
{

	color:c00;
	padding-top:50px;
	text-align:center;
	text-transform:uppercase;
}
/*contact section info section ends here*/
</*--footer section starts here--*/>

footer
{
	background-color: #33;
	color:#ececec;
	padding:0 0 30px 0;

}
footer .footer-top
{
	background-color:#000;
	padding-top:60px 0px  30px 0;

}
footer .footer-top .footer-info
{
	 margin-bottom: 30px;

}
footer .footer-top .footer-info h3
{
	font-size:34px;
	margin:0 0 20px 0;
	padding:2px 0 2px 0;
	line-height:1;
	color:#fff;
	font-weight:400;
	text-transform:uppercase;


}
footer .footer-top .footer-info p
{
	font-size:34px;
	line-height:24px;
	margin-bottom:0;
	color: #fff
}
footer .footer-top .social-links a
{
	font-size:18px;
	display:inline-block;
	background-color: #c00;
	color:#fff;
	padding:8px 0;
	margin-right:4px;
	border-radius:50%
    text-align:center;
	width:36px;
	height:36px;
}
footer .footer-top h3
{
	font-weight:bold;
	color:#fff;
	text-transform:uppercase;
	padding-bottom:10px;
}
footer .footer-top .footer-links
{
	margin-bottom:30px;
}
footer .footer-top .footer-links ul
{
	list-style:none;
	padding:0;
	margin:0;

}
footer .footer-top .footer-link ul li a
{
	color: #fff;
}
footer .footer-top .footer-link ul li a:hover
{
	color:#c00;

}
footer .footer-top .footer-contact
{
	margin-bottom:30px;

}
footer .footer-top .footer-contact p
{
	line-height:26px;

}
footer .footer-top .footer-contact .footer-newsletter
{
	margin-bottom:30px;
}
footer .footer-top .footer-contact .footer-newsletter input[type='email']
{
	border:0;
	padding:6px 8px;
	width:65%;

}
footer .footer-top .footer-contact .footer-newsletter button
{
	margin:4px;
	padding:6px 8px;
	transition:0.3s;

}
footer .copyright,footer .credits
{
	text-align:center;
	padding-top: 30px;
}
footer .credits a
{
	color:#c00;
}